body {
    background: rgb(196, 196, 196);
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 80%;
}
header {
    background:rgb(51, 51, 51);
}
nav {
    float: inline-start;
    padding: 14px;
    margin-left: 42%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    position: relative;
}
nav a {
    color:rgb(196, 196, 196);
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}
nav a:hover {
    color:rgb(196, 196, 196)
}
nav a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: rgb(196, 196, 196);
    position: absolute;
    top: 0;
    transition: all ease-in-out 150ms;
}
nav a:hover::before {
    width: 100%
}